$perfea-color-primary: #CF490B;
$perfea-color-secondary: #747F5A;
$perfea-color-tertiary: #B0B68F;
$perfea-color-quaternary: #ABBEA4;

$perfea-padding: 2em;
$perfea-navleft-width: 14em;
$perfea-page-maxwidth: 51em;

$bold: 700;
$semibold: 600;
